<!DOCTYPE html>
<meta charset="utf-8">
<title>Kupu Recommender</title>

<html>

<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("./static/background.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<body class="bg">
 <div style="margin-left:50px">
  
  <h4>Kupu Recommender</h4>
  <br>
  <form action="/recommend">
    user =
    <input type="number" name="user" min="0" value="{{user}}" required="">
    <input type="submit" value="Submit">
  </form>
</div>
</body>

</html>